* {
  margin: 0;
  padding: 0; }

/* GRIDS */
.gridParent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }

/* MAP */
/* EXTEND */
.tiposActividades {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

/* MIXIN */
/* VITAL GYM */
.nombreGym {
  text-decoration: none;
  font-family: Staatliches;
  font-size: 50px;
  color: black; }

/* NAVBAR */
.navLinks {
  text-decoration: none;
  font-family: Staatliches;
  font-size: 20px; }
  .navLinks a:hover {
    background-color: grey; }

/* TRANSITION NAVBAR */
.navTransit {
  text-decoration: none;
  transition: text-decoration 2s; }
  .navTransit:hover {
    text-decoration: underline; }

/* FIN TRANSITION NAVBAR */
/* NavBar Responsive */
@media (max-width: 800px) {
  .nombreGym {
    text-align: center;
    width: 100%; } }

/* FOOTER */
footer {
  background-color: #F8F9FA; }
  footer h3 {
    color: #3a3a3a;
    text-decoration: none;
    font-family: Staatliches;
    font-size: 20px;
    padding: 20px;
    text-align: center; }
  footer .linkInsta {
    text-decoration: none;
    color: #3a3a3a;
    font-family: Staatliches;
    font-size: 20px;
    padding: 20px;
    text-align: center; }
    footer .linkInsta:hover {
      background-color: black;
      color: violet; }

/* Footer Responsive */
@media (max-width: 800px) {
  footer div {
    flex-direction: column;
    margin-top: 10px; } }

@media (max-width: 800px) {
  footer h3 {
    padding: 5px;
    font-size: 20px; } }

@media (max-width: 800px) {
  footer .linkInsta {
    padding: 5px;
    font-size: 20px; } }

@media (max-width: 500px) {
  footer h3 {
    padding: 5px;
    font-size: 15px; } }

@media (max-width: 500px) {
  footer .linkInsta {
    padding: 5px;
    font-size: 15px; } }

/* PAGINA DE INICIO */
.cuerpoInicio {
  background-image: url(../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 800px; }
  .cuerpoInicio .textoInicio {
    font-family: Staatliches;
    font-size: 70px;
    color: white;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 1.5px black; }
  .cuerpoInicio .textoInicioAbajo {
    font-family: Staatliches;
    font-size: 60px;
    color: white;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 1.5px black; }

/* Responsive Inicio */
@media (max-width: 800px) {
  .inicio .textoInicio {
    font-size: 60px;
    -webkit-text-stroke: 1.5px black; } }

@media (max-width: 800px) {
  .inicio .textoInicioAbajo {
    font-size: 45px;
    -webkit-text-stroke: 1.5px black; } }

@media (max-width: 800px) {
  .inicio .cuerpoInicio {
    background-position: 55%; } }

@media (max-width: 500px) {
  .inicio .textoInicio {
    font-size: 50px;
    -webkit-text-stroke: 1.5px black; } }

@media (max-width: 500px) {
  .inicio .textoInicioAbajo {
    font-size: 40px;
    -webkit-text-stroke: 1.5px black; } }

@media (max-width: 500px) {
  .inicio .cuerpoInicio {
    height: 700px;
    background-position: 55%; } }

/* Pagina NOSOTROS */
.cuerpoProfesores {
  background-image: url(../assets/img/back-horarios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 10%; */ }

.introProfesores {
  width: 100%;
  text-align: center;
  font-family: Staatliches;
  font-size: 30px;
  color: white; }

.cierreProfesores {
  width: 100%;
  text-align: center;
  font-family: Staatliches;
  font-size: 40px;
  color: white;
  margin-top: 20px; }

.fotoProfe {
  display: block;
  margin: auto; }

.profesores div {
  padding: 30px; }

.profesores h3 {
  text-align: center;
  font-family: Staatliches;
  font-size: 40px;
  color: white; }

.profesores p {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: white; }

/* Pagina ACTIVIDADES */
.cuerpoActividades {
  background-image: url(../assets/img/back-act.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.introActividades {
  width: 100%;
  text-align: center;
  font-family: Staatliches;
  font-size: 40px;
  color: white;
  margin-top: 20px; }

.cierreActividades {
  width: 100%;
  text-align: center;
  font-family: Staatliches;
  font-size: 40px;
  color: white;
  margin-top: 20px; }

.fotoActividad {
  width: 100%; }

.actividadUno {
  flex: 33.3%; }

.actividadDos {
  flex: 33.3%; }

.actividadTres {
  flex: 33.3%; }

.tiposActividades div {
  padding: 30px; }

.tiposActividades h3 {
  text-align: center;
  font-family: Staatliches;
  font-size: 40px;
  color: white; }

.tiposActividades p {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 30px; }

/* Responsive Actividades */
@media (max-width: 800px) {
  .tiposActividades {
    flex-direction: column; } }

/* Pagina HORARIOS */
.cuerpoHorarios {
  background-image: url(../assets/img/background-horarios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%; }

.introHorarios {
  width: 100%;
  text-align: center;
  font-family: Staatliches;
  color: white;
  margin-top: 20px;
  -webkit-text-stroke: 1.5px black; }

.introHorarios h1 {
  font-size: 50px; }

.introHorarios h2 {
  font-size: 50px; }

.cierreHorarios {
  width: 100%;
  text-align: center;
  font-family: Staatliches;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 1.5px black; }

.horarios {
  width: 100%;
  text-align: center; }

.fotoHorarios {
  width: 50%; }

/* Responsive Horarios */
@media (max-width: 800px) {
  .introHorarios h2 {
    font-size: 40px; } }

@media (max-width: 800px) {
  .introHorarios h1 {
    font-size: 40px; } }

@media (max-width: 800px) {
  .cierreHorarios {
    font-size: 40px; } }

@media (max-width: 500px) {
  .fotoHorarios {
    width: 95%; } }

@media (max-width: 900px) {
  .fotoHorarios {
    width: 80%; } }

@media (max-width: 500px) {
  .introHorarios h2 {
    font-size: 30px; } }

@media (max-width: 500px) {
  .introHorarios h1 {
    font-size: 30px; } }

@media (max-width: 500px) {
  .cierreHorarios {
    font-size: 30px; } }

/* Pagina CONTACTO */
.cuerpoContacto {
  background-image: url(../assets/img/background-contacto3.jpg);
  background-size: cover;
  color: white; }

.introContacto {
  width: 100%;
  text-align: center;
  font-family: Staatliches;
  color: white;
  margin-top: 20px;
  -webkit-text-stroke: 1.5px black; }

.introContacto h2 {
  font-size: 45px; }

.cierreContacto {
  width: 100%;
  font-family: Staatliches;
  font-size: 50px;
  color: white;
  margin-top: 20px;
  -webkit-text-stroke: 1.5px black; }

.form {
  font-family: Staatliches;
  font-size: 20px; }

.mapaContacto {
  width: 100%; }

/* Responsive Contacto */
@media (max-width: 800px) {
  .form {
    width: 50%; } }

@media (max-width: 800px) {
  .introContacto h2 {
    font-size: 30px; } }

@media (max-width: 800px) {
  .mapaContacto {
    text-align: center; } }
