/* Pagina CONTACTO */

.cuerpoContacto{
    background-image: url(../assets/img/background-contacto3.jpg);
    background-size: cover;
    color: map-get($colores , claro );
}

.introContacto{
    width: 100%;
    text-align: center;
    font-family: $fontPrincipal;
    color: map-get($colores , claro );
    margin-top: 20px;
    -webkit-text-stroke: 1.5px black;
}

.introContacto h2{
    font-size: 45px;
}

.cierreContacto{
    width: 100%;
    font-family: $fontPrincipal;
    font-size: 50px;
    color: map-get($colores , claro );
    margin-top: 20px;
    -webkit-text-stroke: 1.5px black;
}

.form{
    font-family: $fontPrincipal;
    font-size: 20px;
}


.mapaContacto{
    width: 100%;    
}

/* Responsive Contacto */

@media (max-width: 800px) {
    .form {
        width: 50%;
  }
}

@media (max-width: 800px) {
    .introContacto h2 {
        font-size: 30px;
  }
}

@media (max-width: 800px) {
    .mapaContacto {
       text-align: center;
  }
}