/* FOOTER */
footer{
    background-color: #F8F9FA;

    h3 {
        color: rgb(58, 58, 58);
        text-decoration: none;
        font-family: $fontPrincipal;
        font-size: 20px;
        padding: 20px;  
        text-align: center;
      }

    .linkInsta {
        text-decoration: none;
        color: rgb(58, 58, 58);
        font-family: $fontPrincipal;
        font-size: 20px;
        padding: 20px;  
        text-align: center;

        &:hover {
            background-color: black;
            color: violet;
          }
      }
  }

  /* Footer Responsive */
  
  @media (max-width: 800px) {
    footer div {
      flex-direction: column;
      margin-top: 10px;
    }
  }
 
  @media (max-width: 800px) {
    footer h3 {
      padding: 5px;
      font-size: 20px;
    }
  }
 
  @media (max-width: 800px) {
    footer .linkInsta {
      padding: 5px;
      font-size: 20px;
    }
  }

  @media (max-width: 500px) {
    footer h3 {
      padding: 5px;
      font-size: 15px;
    }
  }
 
  @media (max-width: 500px) {
    footer .linkInsta {
      padding: 5px;
      font-size: 15px;
    }
  }