/* Pagina HORARIOS */

.cuerpoHorarios{
    background-image: url(/assets/img/background-horarios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 800px;
}

.introHorarios{
    width: 100%;
    text-align: center;
    font-family: $fontPrincipal;
    color: map-get($colores , claro );
    margin-top: 20px;
    -webkit-text-stroke: 1.5px black;
}

.introHorarios h1{
    font-size: 50px;
}

.introHorarios h2{
    font-size: 50px;
}

.cierreHorarios{
    width: 100%;
    text-align: center;
    font-family: $fontPrincipal;
    font-size: 50px;
    color: map-get($colores , claro );
    -webkit-text-stroke: 1.5px black;
}

table{
    font-family: $fontPrincipal;
    font-size: 25px;
    border: orange solid 10px;
    background-color: black;
    color: map-get($colores , claro );
    text-align: center;
    width: 80%;
    margin: auto;

}

/* Responsive Horarios */

@media (max-width: 800px) {
   table{
       font-size: 20px;
       width: 100%;   
  }
}

@media (max-width: 800px) {
    .introHorarios h2 {
        font-size: 40px;
  }
}
@media (max-width: 800px) {
    .introHorarios h1 {
        font-size: 40px;
  }
}

@media (max-width: 800px) {
    .cierreHorarios {
        font-size: 40px;
  }
}

@media (max-width: 500px) {
    .introHorarios h2 {
        font-size: 30px;
  }
}
@media (max-width: 500px) {
    .introHorarios h1 {
        font-size: 30px;
  }
}

@media (max-width: 500px) {
    .cierreHorarios {
        font-size: 30px;
  }
}

@media (max-width: 500px) {
    table{
        font-size: 15px;
        width: 100%;   
   }
 }