/* Pagina HORARIOS */

.backgroundHorarios{
    width: 100%;
    position: relative;
}

.introHorarios{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: $fontPrincipal;
    font-size: 30px;
    color: map-get($colores , claro );
    top: 15%;
}

.cierreHorarios{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: $fontPrincipal;
    font-size: 40px;
    color: map-get($colores , claro );
    top: 130%; 
}

table{
    position: absolute;
    font-family: $fontPrincipal;
    font-size: 30px;
    border: orange solid 10px;
    background-color: black;
    color: map-get($colores , claro );
    text-align: center;
    top: 50%;
    left: 7%;
}

/* Responsive Horarios */

@media (max-width: 800px) {
   table{
       font-size: 15px;
       top: 110%;
       right: 50px;
  }
}

@media (max-width: 800px) {
    .introHorarios {
        font-size: 20px;
        top: 75%;
  }
}

@media (max-width: 800px) {
    .cierreHorarios {
        font-size: 20px;
        top: 175%;
  }
}