/* VITAL GYM */

.nombreGym {
    text-decoration: none;
    font-family: $fontPrincipal;
    font-size: 50px;
    color: black;
  }
  
  /* NAVBAR */
  
  .navLinks {
    text-decoration: none;
    font-family: $fontPrincipal;
    font-size: 20px;

    a:hover {
        background-color: map-get($colores , intermedio );
      }

  }

  /* TRANSITION NAVBAR */
  .navTransit{
    text-decoration: none;
    transition: text-decoration 2s;

    &:hover{
        text-decoration: underline;
      }
  }
 
  /* FIN TRANSITION NAVBAR */
  
  
  /* NavBar Responsive */
  
  @media (max-width: 800px) {
    .nombreGym {
      text-align: center;
      width: 100%;
    }
  }