  /* Pagina NOSOTROS */

  .cuerpoProfesores{
    background-color: rgba(0, 0, 0, 0.932);
}  

.introProfesores{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-family: $fontPrincipal;
    font-size: 30px;
    color: map-get($colores , claro );
}

.cierreProfesores{
    width: 100%;
    text-align: center;
    font-family: $fontPrincipal;
    font-size: 40px;
    color: map-get($colores , claro );
    margin-top: 20px;
}

.fotoProfe{
    width: 100%;
}

.profesores{
    @include flexbox(row, nowrap);
}

.profesorUno{
    flex: 33.3%;
}
.profesorDos{
    flex: 33.3%;
}
.profesorTres{
    flex: 33.3%;
}

.profesores div{
    padding: 30px; 
}

.profesores h3{
    text-align: center;
    font-family: $fontPrincipal;
    font-size: 40px;
    color: map-get($colores , claro );
}

.profesores p{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: map-get($colores , claro );
    margin-top: 30px;
}

/* Responsive Nosotros */

@media (max-width: 800px) {
    .profesores {
        flex-direction: column;
  }
}